@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.highlights{
   
    animation:scroll 100s infinite linear;
    
}
.customBgColor{
    background-color:#D40850;
}
.customBorder{
    border-top:3px solid #D40850;
}

@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}
